.button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid rgb(0, 139, 81);
    background-color: rgb(37, 194, 128);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.button:hover {
    background-color: rgb(42, 212, 141);
}

.button:active {
    background-color: rgb(33, 179, 118);
}

.button.disabled,
.button.focus:disabled,
.button.active:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
}